In [16]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [17]:
df = pd.read_csv('crime_regression_data.csv', index_col=['boro', 'zipcode'])
df.head()

               businesses  cafe  pawn  debt   cig  total_select_bus     hpdA  \
boro  zipcode
Bronx 10453           447   NaN   NaN   NaN   NaN               NaN  12079.0
      10457           470   NaN   NaN   NaN   NaN               NaN  11139.0
      10460           313   NaN   NaN   NaN   NaN               NaN   7043.0
      10458           535   6.0  15.0   1.0  95.0             117.0  11936.0
      10467           604   NaN   NaN   NaN   NaN               NaN  10581.0

                  hpdB     hpdC  hpdTotal  negativeRodent  positiveRodent  \
boro  zipcode
Bronx 10453    36822.0  11188.0   60089.0          7378.0         23460.0
      10457    33267.0  10221.0   54627.0         12093.0         30270.0
      10460    20282.0   6783.0   34108.0          5267.0         15991.0
      10458    34378.0  11569.0   57883.0         10461.0         28913.0
      10467    30801.0   9495.0   50877.0          6484.0         12557.0

                 total  violation  misdemeanor   felony  population  \
boro  zipcode
Bronx 10453    58579.0     7514.0      37011.0  14054.0     76775.0
      10457    67137.0     7683.0      42228.0  17226.0     69048.0
      10460    51550.0     5677.0      31992.0  13881.0     53707.0
      10458    69136.0     7326.0      41794.0  20016.0     77840.0
      10467    64178.0     8656.0      37089.0  18433.0     94342.0

               pop_per_sq_mile
boro  zipcode
Bronx 10453           87970.27
      10457           58547.95
      10460           33064.79
      10458           62296.26
      10467           33219.75

In [18]:
# Scale the dataset and compute the correlation matrix

selected_col = ['cafe', 'pawn', 'debt', 'cig', 'total_select_bus', 'total', 'violation', 'misdemeanor', 'felony']
df1 = df.drop(selected_col, axis=1).dropna()
df1_scaled = preprocessing.scale(df1)
df1_new = pd.DataFrame(data=df1_scaled, columns = df1.columns)
cor_matrix = df1_new.corr()
cor_matrix

,businesses,hpdA,hpdB,hpdC,hpdTotal,negativeRodent,positiveRodent,population,pop_per_sq_mile
businesses,1.000000,0.269394,0.263093,0.242224,0.260768,0.278277,0.268833,0.734018,0.179400
hpdA,0.269394,1.000000,0.994080,0.986100,0.995927,0.795337,0.738785,0.544757,0.494732
hpdB,0.263093,0.994080,1.000000,0.991641,0.999415,0.788461,0.717599,0.544842,0.451799
hpdC,0.242224,0.986100,0.991641,1.000000,0.994466,0.777701,0.715229,0.528086,0.459606
hpdTotal,0.260768,0.995927,0.999415,0.994466,1.000000,0.789474,0.722997,0.542705,0.462984
negativeRodent,0.278277,0.795337,0.788461,0.777701,0.789474,1.000000,0.856826,0.452745,0.360313
positiveRodent,0.268833,0.738785,0.717599,0.715229,0.722997,0.856826,1.000000,0.412411,0.544787
population,0.734018,0.544757,0.544842,0.528086,0.542705,0.452745,0.412411,1.000000,0.398599
pop_per_sq_mile,0.179400,0.494732,0.451799,0.459606,0.462984,0.360313,0.544787,0.398599,1.000000

In [19]:
df1_new.head()

,businesses,hpdA,hpdB,hpdC,hpdTotal,negativeRodent,positiveRodent,population,pop_per_sq_mile
0,0.471226,3.368169,3.444701,3.095043,3.367102,3.011519,3.459260,1.160259,1.851035
1,0.593238,3.045243,3.038533,2.763624,2.991657,5.467575,4.680461,0.859311,0.741120
2,-0.239623,1.638113,1.554962,1.585321,1.581228,1.911893,2.119883,0.261817,-0.220195
3,0.938053,3.319043,3.165468,3.225622,3.215467,4.617462,4.437118,1.201738,0.882520
4,1.304087,2.853549,2.756786,2.514802,2.733891,2.545832,1.504081,1.844451,-0.214350

In [44]:
# Get summary statistics

basic_summary = df.groupby(level='boro').describe()
basic_summary = basic_summary.applymap('{:.2f}'.format)
basic_summary

/Users/user/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:4116: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

                   businesses   cafe   pawn   debt     cig total_select_bus  \
boro
Bronx        count      25.00   8.00   8.00   8.00    8.00             8.00
             mean      348.60   3.12   4.75   0.38   57.12            65.38
             std       153.29   2.03   4.89   0.52   31.12            36.25
             min        46.00   1.00   0.00   0.00    4.00             5.00
             25%       238.00    nan    nan    nan     nan              nan
             50%       345.00    nan    nan    nan     nan              nan
             75%       471.00    nan    nan    nan     nan              nan
             max       604.00   6.00  15.00   1.00   95.00           117.00
Brooklyn     count      37.00  24.00  24.00  24.00   24.00            24.00
             mean      470.54   6.50   1.12   0.50   62.71            70.83
             std       188.89   7.58   1.15   0.78   17.40            21.88
             min        52.00   1.00   0.00   0.00   27.00            30.00
             25%       322.00    nan    nan    nan     nan              nan
             50%       432.00    nan    nan    nan     nan              nan
             75%       604.00    nan    nan    nan     nan              nan
             max       874.00  32.00   3.00   3.00  108.00           141.00
Manhattan    count      43.00  37.00  37.00  37.00   37.00            37.00
             mean      298.30  25.68   2.49   1.11   51.22            80.49
             std       166.99  24.68   5.61   1.47   21.96            37.37
             min        17.00   1.00   0.00   0.00    8.00            13.00
             25%       186.50    nan    nan    nan     nan              nan
             50%       300.00    nan    nan    nan     nan              nan
             75%       390.00    nan    nan    nan     nan              nan
             max       752.00  94.00  32.00   5.00  104.00           165.00
Queens       count      58.00  15.00  15.00  15.00   15.00            15.00
             mean      306.53   7.80   1.60   0.40   51.47            61.27
             std       194.61   8.78   1.80   0.63   25.97            27.55
             min        20.00   1.00   0.00   0.00   22.00            23.00
             25%       158.00    nan    nan    nan     nan              nan
             50%       253.50    nan    nan    nan     nan              nan
             75%       427.25    nan    nan    nan     nan              nan
             max       952.00  28.00   6.00   2.00  113.00           115.00
StatenIsland count      12.00   0.00   0.00   0.00    0.00             0.00
             mean      396.17    nan    nan    nan     nan              nan
             std       189.47    nan    nan    nan     nan              nan
             min       166.00    nan    nan    nan     nan              nan
             25%       259.00    nan    nan    nan     nan              nan
             50%       343.00    nan    nan    nan     nan              nan
             75%       513.50    nan    nan    nan     nan              nan
             max       837.00    nan    nan    nan     nan              nan

                        hpdA      hpdB      hpdC  hpdTotal negativeRodent  \
boro
Bronx        count     25.00     25.00     25.00     25.00          25.00
             mean    5089.88  14920.80   4735.88  24746.56        3705.28
             std     4235.99  12495.12   3890.83  20602.62        3424.55
             min       84.00    165.00     61.00    310.00         150.00
             25%     1468.00   4427.00   1410.00   7470.00        1284.00
             50%     4071.00  11432.00   3480.00  18983.00        2141.00
             75%    10230.00  29645.00   8604.00  49892.00        6070.00
             max    12079.00  36822.00  11569.00  60089.00       12093.00
Brooklyn     count     37.00     37.00     37.00     37.00          37.00
             mean    3610.32  10949.32   3553.03  18112.68        1735.65
             std     2858.00   9499.37   3267.60  15575.31        1651.96
             min       73.00    214.00    143.00    430.00          11.00
             25%     1494.00   4037.00   1148.00   6716.00         466.00
             50%     2511.00   6857.00   1841.00  11953.00        1291.00
             75%     5235.00  17328.00   6393.00  29585.00        2644.00
             max    12993.00  40876.00  12641.00  66510.00        7546.00
Manhattan    count     42.00     42.00     42.00     42.00          42.00
             mean    2198.33   5670.31   1975.10   9843.74        1268.02
             std     2342.44   6674.17   2538.15  11535.12        1030.27
             min        2.00      5.00      2.00      9.00          15.00
             25%         nan       nan       nan       nan            nan
             50%         nan       nan       nan       nan            nan
             75%         nan       nan       nan       nan            nan
             max     9775.00  28268.00  11174.00  49217.00        3334.00
Queens       count     58.00     58.00     58.00     58.00          57.00
             mean     514.78   1772.34    518.55   2805.67         761.18
             std      565.79   1752.77    524.76   2824.97         870.37
             min        3.00     12.00      1.00     17.00          48.00
             25%      116.50    500.75    131.50    800.25            nan
             50%      370.50   1399.50    428.00   2186.00            nan
             75%      713.25   2308.75    662.25   3649.00            nan
             max     2939.00   8535.00   2539.00  14013.00        4383.00
StatenIsland count     12.00     12.00     12.00     12.00          12.00
             mean     432.83   1555.17    407.08   2395.08        1583.33
             std      503.65   1836.29    451.77   2788.13         919.76
             min       22.00    113.00     32.00    167.00         416.00
             25%       56.00    188.50     74.00    312.50         957.75
             50%      223.00    690.00    199.00   1110.00        1573.00
             75%      547.75   1986.50    510.75   3038.25        1831.50
             max     1519.00   5882.00   1431.00   8832.00        3661.00

                   positiveRodent     total violation misdemeanor    felony  \
boro
Bronx        count          25.00     24.00     24.00       24.00     24.00
             mean         9093.40  44028.00   5398.88    27010.42  11618.71
             std          9358.21  19107.57   2160.64    12263.88   4920.64
             min           106.00   9591.00   1031.00     5594.00   2887.00
             25%           956.00       nan       nan         nan       nan
             50%          5311.00       nan       nan         nan       nan
             75%         14518.00       nan       nan         nan       nan
             max         30270.00  75592.00   8994.00    48331.00  20016.00
Brooklyn     count          37.00     37.00     37.00       37.00     37.00
             mean         3505.38  39545.30   4920.05    21826.16  12799.08
             std          4237.01  20353.91   2591.45    11278.71   6634.95
             min           308.00   9545.00    633.00     6137.00   2741.00
             25%           829.00  24067.00   2846.00    12837.00   7988.00
             50%          1509.00  35472.00   4573.00    19906.00  11332.00
             75%          4589.00  50142.00   6446.00    27481.00  16448.00
             max         17813.00  94750.00  11244.00    53841.00  30393.00
Manhattan    count          43.00     41.00     41.00       41.00     41.00
             mean         6324.26  27276.17   2943.59    15668.90   8663.68
             std          4555.23  17651.70   2120.68    10757.82   5182.01
             min             9.00   1919.00    157.00      929.00    591.00
             25%          2534.00       nan       nan         nan       nan
             50%          5591.00       nan       nan         nan       nan
             75%          9602.00       nan       nan         nan       nan
             max         17683.00  70207.00   9191.00    43453.00  20215.00
Queens       count          57.00     56.00     56.00       56.00     56.00
             mean         1254.21  16900.52   2215.18     9013.41   5671.93
             std          2269.74  11485.47   1450.53     6507.01   3664.13
             min            50.00    644.00     79.00      286.00    279.00
             25%              nan       nan       nan         nan       nan
             50%              nan       nan       nan         nan       nan
             75%              nan       nan       nan         nan       nan
             max         11888.00  55298.00   7065.00    31879.00  16354.00
StatenIsland count          12.00     12.00     12.00       12.00     12.00
             mean         1433.17  19575.42   3672.58    11745.33   4157.50
             std          1166.54   9076.03   1622.17     5627.40   1874.43
             min           275.00   6246.00   1328.00     3615.00   1303.00
             25%           633.75  14966.75   2478.50     8847.75   3193.50
             50%          1062.00  16775.00   3359.50    10056.00   3723.50
             75%          1929.00  24720.25   4975.25    14710.50   5036.00
             max          4502.00  35639.00   6444.00    22260.00   7344.00

                   population pop_per_sq_mile netRodent
boro
Bronx        count      24.00           24.00     25.00
             mean    55127.33        40969.24   5388.12
             std     21748.90        22074.72   6069.32
             min     11354.00         7487.55   -993.00
             25%          nan             nan     64.00
             50%          nan             nan   3651.00
             75%          nan             nan   9870.00
             max     94342.00        87970.27  18452.00
Brooklyn     count      37.00           37.00     37.00
             mean    66630.43        39747.79   1769.73
             std     21905.54        14490.72   3306.95
             min     14620.00         8846.37  -1324.00
             25%     48965.00        27309.38    184.00
             50%     69840.00        38695.54    368.00
             75%     85089.00        48552.49   2755.00
             max    106154.00        81064.34  14411.00
Manhattan    count      40.00           40.00     42.00
             mean    38115.18        64533.49   5205.88
             std     26409.59        30578.88   3654.01
             min       884.00         2162.99     -6.00
             25%          nan             nan       nan
             50%          nan             nan       nan
             75%          nan             nan       nan
             max    102078.00       126067.69  14723.00
Queens       count      57.00           57.00     57.00
             mean    39134.82        25792.25    493.04
             std     22441.81        17504.39   1514.30
             min      6917.00         4421.44   -807.00
             25%          nan             nan       nan
             50%          nan             nan       nan
             75%          nan             nan       nan
             max    105723.00        97325.47   7505.00
StatenIsland count      12.00           12.00     12.00
             mean    36977.33         8990.79   -150.17
             std     20842.34         3391.43    540.86
             min     11669.00         3862.03   -820.00
             25%     23360.50         6898.04   -692.75
             50%     32828.50         8033.32   -122.00
             75%     43153.50        11170.65    246.75
             max     84821.00        14230.06    841.00

In [65]:
# Data Clean

# Create a new column: netRodent = positiveRodent - negativeRodent
df['netRodent'] = df['positiveRodent'] - df['negativeRodent']
df3 = df[['businesses', 'hpdTotal', 'netRodent', 'positiveRodent', 'negativeRodent', 'population', 'violation', 'misdemeanor', 'felony', 'total']].dropna()
df3['businesses'] = df3['businesses'] / df3['population']
df3['hpdTotal'] = df3['hpdTotal'] / df3['population']
df3['netRodent'] = df3['netRodent'] / df3['population']
df3['positiveRodent'] = df3['positiveRodent'] / df3['population']
df3['negativeRodent'] = df3['negativeRodent'] / df3['population']
df3['netRodent'] = df3['netRodent'] / df3['population']
df3['felony'] = df3['felony'] / df3['population']
df3['misdemeanor'] = df3['misdemeanor'] / df3['population']
df3['violation'] = df3['violation'] / df3['population']
df3['total'] = df3['total'] / df3['population']
df3.head()

               businesses  hpdTotal     netRodent  positiveRodent  \
boro  zipcode
Bronx 10453      0.005822  0.782664  2.728352e-06        0.305568
      10457      0.006807  0.791145  3.812589e-06        0.438391
      10460      0.005828  0.635076  3.717877e-06        0.297745
      10458      0.006873  0.743615  3.045354e-06        0.371441
      10467      0.006402  0.539283  6.823279e-07        0.133101

               negativeRodent  population  violation  misdemeanor    felony  \
boro  zipcode
Bronx 10453          0.096099     76775.0   0.097870     0.482071  0.183054
      10457          0.175139     69048.0   0.111270     0.611575  0.249479
      10460          0.098069     53707.0   0.105703     0.595677  0.258458
      10458          0.134391     77840.0   0.094116     0.536922  0.257143
      10467          0.068729     94342.0   0.091751     0.393133  0.195385

                  total
boro  zipcode
Bronx 10453    0.762996
      10457    0.972324
      10460    0.959838
      10458    0.888181
      10467    0.680270

In [66]:
# Normalize data
Y = ['total']
df3_new = pd.DataFrame(np.c_[preprocessing.scale(df3.drop(Y, 1)), df3[Y]], index=df3.index, columns = df3.columns)
df3_new.head()

               businesses  hpdTotal  netRodent  positiveRodent  \
boro  zipcode
Bronx 10453     -0.382933  2.647876  -0.068079        1.931112
      10457     -0.274087  2.686942  -0.032178        3.132514
      10460     -0.382301  1.968089  -0.035314        1.860351
      10458     -0.266768  2.468020  -0.057582        2.526946
      10467     -0.318815  1.526870  -0.135827        0.371114

               negativeRodent  population  violation  misdemeanor    felony  \
boro  zipcode
Bronx 10453          2.082262    1.144432   0.229534     0.253360 -0.153248
      10457          4.711441    0.837707   0.451681     0.619583  0.148805
      10460          2.147797    0.228740   0.359386     0.574625  0.189637
      10458          3.356005    1.186708   0.167295     0.408473  0.183656
      10467          1.171819    1.841761   0.128090     0.001854 -0.097177

                  total
boro  zipcode
Bronx 10453    0.762996
      10457    0.972324
      10460    0.959838
      10458    0.888181
      10467    0.680270

In [67]:
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [71]:
model = ols("total ~ businesses + hpdTotal + positiveRodent + negativeRodent", df3_new).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  total   R-squared:                       0.824
Model:                            OLS   Adj. R-squared:                  0.820
Method:                 Least Squares   F-statistic:                     188.9
Date:                Mon, 01 May 2017   Prob (F-statistic):           1.04e-59
Time:                        21:40:53   Log-Likelihood:                -12.444
No. Observations:                 166   AIC:                             34.89
Df Residuals:                     161   BIC:                             50.45
Df Model:                           4
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------
Intercept          0.6933      0.021     33.728      0.000         0.653     0.734
businesses         0.4662      0.028     16.752      0.000         0.411     0.521
hpdTotal           0.1226      0.031      3.914      0.000         0.061     0.185
positiveRodent     0.1113      0.038      2.968      0.003         0.037     0.185
negativeRodent     0.0408      0.033      1.239      0.217        -0.024     0.106
==============================================================================
Omnibus:                       15.969   Durbin-Watson:                   1.771
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               18.354
Skew:                           0.679   Prob(JB):                     0.000103
Kurtosis:                       3.900   Cond. No.                         3.53
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [72]:
model = ols("total ~ businesses + hpdTotal + positiveRodent", df3_new).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  total   R-squared:                       0.823
Model:                            OLS   Adj. R-squared:                  0.819
Method:                 Least Squares   F-statistic:                     250.6
Date:                Mon, 01 May 2017   Prob (F-statistic):           1.29e-60
Time:                        21:40:56   Log-Likelihood:                -13.231
No. Observations:                 166   AIC:                             34.46
Df Residuals:                     162   BIC:                             46.91
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------
Intercept          0.6933      0.021     33.672      0.000         0.653     0.734
businesses         0.4622      0.028     16.694      0.000         0.408     0.517
hpdTotal           0.1377      0.029      4.759      0.000         0.081     0.195
positiveRodent     0.1334      0.033      4.030      0.000         0.068     0.199
==============================================================================
Omnibus:                       15.444   Durbin-Watson:                   1.774
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.401
Skew:                           0.675   Prob(JB):                     0.000167
Kurtosis:                       3.832   Cond. No.                         2.87
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [54]:
df4 = df[['businesses', 'hpdTotal', 'netRodent', 'population', 'pop_per_sq_mile', 'violation', 'misdemeanor', 'felony', 'total']].dropna()
df4['area'] = df4['population'] * df4['pop_per_sq_mile']
df3['businesses'] = df4['businesses'] / df4['area']
df3['hpdTotal'] = df4['hpdTotal'] / df4['area']
df3['netRodent'] = df4['netRodent'] / df4['area']
df3['felony'] = df4['felony'] / df4['area']
df3['misdemeanor'] = df4['misdemeanor'] / df4['area']
df3['violation'] = df4['violation'] / df4['area']
df3['total'] = df4['total'] / df4['area']
df4.head()

               businesses  hpdTotal  netRodent  population  pop_per_sq_mile  \
boro  zipcode
Bronx 10453           447   60089.0    16082.0     76775.0         87970.27
      10457           470   54627.0    18177.0     69048.0         58547.95
      10460           313   34108.0    10724.0     53707.0         33064.79
      10458           535   57883.0    18452.0     77840.0         62296.26
      10467           604   50877.0     6073.0     94342.0         33219.75

               violation  misdemeanor   felony    total          area
boro  zipcode
Bronx 10453       7514.0      37011.0  14054.0  58579.0  6.753917e+09
      10457       7683.0      42228.0  17226.0  67137.0  4.042619e+09
      10460       5677.0      31992.0  13881.0  51550.0  1.775811e+09
      10458       7326.0      41794.0  20016.0  69136.0  4.849141e+09
      10467       8656.0      37089.0  18433.0  64178.0  3.134018e+09

In [61]:
# Normalize data
Y = ['total']
#df4_new = pd.DataFrame(np.c_[preprocessing.scale(df4.drop(Y, 1)), df4[Y]], index=df4.index, columns = df4.columns)
df4_new = pd.DataFrame(preprocessing.scale(df4), index=df4.index, columns = df4.columns)
df4_new.head()

/Users/user/anaconda/lib/python3.5/site-packages/sklearn/preprocessing/data.py:160: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

               businesses  hpdTotal  netRodent  population  pop_per_sq_mile  \
boro  zipcode
Bronx 10453      0.441781  3.332254   3.292591    1.144432         1.827576
      10457      0.566079  2.958675   3.805413    0.837707         0.717757
      10460     -0.282388  1.555258   1.981041    0.228740        -0.243476
      10458      0.917355  3.181373   3.872728    1.186708         0.859144
      10467      1.290248  2.702190   0.842552    1.841761        -0.237631

               violation  misdemeanor    felony     total      area
boro  zipcode
Bronx 10453     1.677853     1.797387  0.916371  1.554443  2.287566
      10457     1.750407     2.253746  1.473124  2.002709  0.941069
      10460     0.889204     1.358348  0.886006  1.186266 -0.184683
      10458     1.597142     2.215781  1.962829  2.107416  1.341608
      10467     2.168129     1.804210  1.684978  1.847717  0.489836

In [63]:
model2 = ols("felony ~ businesses + hpdTotal + netRodent", df4_new).fit()
print(model2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 felony   R-squared:                       0.646
Model:                            OLS   Adj. R-squared:                  0.639
Method:                 Least Squares   F-statistic:                     98.43
Date:                Mon, 01 May 2017   Prob (F-statistic):           2.58e-36
Time:                        21:31:42   Log-Likelihood:                -149.41
No. Observations:                 166   AIC:                             306.8
Df Residuals:                     162   BIC:                             319.3
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept  -2.776e-17      0.047  -5.94e-16      1.000        -0.092     0.092
businesses     0.3665      0.048      7.569      0.000         0.271     0.462
hpdTotal       0.5244      0.060      8.748      0.000         0.406     0.643
netRodent      0.1496      0.060      2.507      0.013         0.032     0.267
==============================================================================
Omnibus:                       23.859   Durbin-Watson:                   1.273
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               31.285
Skew:                           0.864   Prob(JB):                     1.61e-07
Kurtosis:                       4.241   Cond. No.                         2.14
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [49]:
# Anova table
anova_table = sm.stats.anova_lm(model, typ=1)
print(anova_table)

               df     sum_sq    mean_sq           F        PR(>F)
businesses    1.0  43.864941  43.864941  607.467656  1.087524e-56
hpdTotal      1.0   7.888909   7.888909  109.250282  7.208973e-20
netRodent     1.0   0.843604   0.843604   11.682732  7.978903e-04
Residual    162.0  11.697940   0.072210         NaN           NaN