In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
df = pd.read_csv('crime_regression_data.csv')
df.head()

,boro,zipcode,businesses,cafe,pawn,debt,cig,total_select_bus,hpdA,hpdB,hpdC,hpdTotal,negativeRodent,positiveRodent,total,violation,misdemeanor,felony,population,pop_per_sq_mile
0,Bronx,10453,447,NaN,NaN,NaN,NaN,NaN,12079.0,36822.0,11188.0,60089.0,7378.0,23460.0,58579.0,7514.0,37011.0,14054.0,76775.0,87970.27
1,Bronx,10457,470,NaN,NaN,NaN,NaN,NaN,11139.0,33267.0,10221.0,54627.0,12093.0,30270.0,67137.0,7683.0,42228.0,17226.0,69048.0,58547.95
2,Bronx,10460,313,NaN,NaN,NaN,NaN,NaN,7043.0,20282.0,6783.0,34108.0,5267.0,15991.0,51550.0,5677.0,31992.0,13881.0,53707.0,33064.79
3,Bronx,10458,535,6.0,15.0,1.0,95.0,117.0,11936.0,34378.0,11569.0,57883.0,10461.0,28913.0,69136.0,7326.0,41794.0,20016.0,77840.0,62296.26
4,Bronx,10467,604,NaN,NaN,NaN,NaN,NaN,10581.0,30801.0,9495.0,50877.0,6484.0,12557.0,64178.0,8656.0,37089.0,18433.0,94342.0,33219.75

In [3]:
# Scale the dataset and compute the correlation matrix

selected_col = ['boro', 'zipcode', 'cafe', 'pawn', 'debt', 'cig', 'total_select_bus', 'total', 'violation', 'misdemeanor', 'felony']
df1 = df.drop(selected_col, axis=1).dropna()
df1_scaled = preprocessing.scale(df1)
df1_new = pd.DataFrame(data=df1_scaled, columns = df1.columns)
cor_matrix = df1_new.corr()
cor_matrix

,businesses,hpdA,hpdB,hpdC,hpdTotal,negativeRodent,positiveRodent,population,pop_per_sq_mile
businesses,1.000000,0.269394,0.263093,0.242224,0.260768,0.278277,0.268833,0.734018,0.179400
hpdA,0.269394,1.000000,0.994080,0.986100,0.995927,0.795337,0.738785,0.544757,0.494732
hpdB,0.263093,0.994080,1.000000,0.991641,0.999415,0.788461,0.717599,0.544842,0.451799
hpdC,0.242224,0.986100,0.991641,1.000000,0.994466,0.777701,0.715229,0.528086,0.459606
hpdTotal,0.260768,0.995927,0.999415,0.994466,1.000000,0.789474,0.722997,0.542705,0.462984
negativeRodent,0.278277,0.795337,0.788461,0.777701,0.789474,1.000000,0.856826,0.452745,0.360313
positiveRodent,0.268833,0.738785,0.717599,0.715229,0.722997,0.856826,1.000000,0.412411,0.544787
population,0.734018,0.544757,0.544842,0.528086,0.542705,0.452745,0.412411,1.000000,0.398599
pop_per_sq_mile,0.179400,0.494732,0.451799,0.459606,0.462984,0.360313,0.544787,0.398599,1.000000

In [4]:
df1_new.head()

,businesses,hpdA,hpdB,hpdC,hpdTotal,negativeRodent,positiveRodent,population,pop_per_sq_mile
0,0.471226,3.368169,3.444701,3.095043,3.367102,3.011519,3.459260,1.160259,1.851035
1,0.593238,3.045243,3.038533,2.763624,2.991657,5.467575,4.680461,0.859311,0.741120
2,-0.239623,1.638113,1.554962,1.585321,1.581228,1.911893,2.119883,0.261817,-0.220195
3,0.938053,3.319043,3.165468,3.225622,3.215467,4.617462,4.437118,1.201738,0.882520
4,1.304087,2.853549,2.756786,2.514802,2.733891,2.545832,1.504081,1.844451,-0.214350

In [5]:
# Get summary statistics

df2 = df.drop(['boro', 'zipcode'], axis=1).dropna()
basic_summary = df.drop(['zipcode'], axis=1).dropna().describe()
basic_summary = basic_summary.applymap('{:.2f}'.format)
basic_summary

,businesses,cafe,pawn,debt,cig,total_select_bus,hpdA,hpdB,hpdC,hpdTotal,negativeRodent,positiveRodent,total,violation,misdemeanor,felony,population,pop_per_sq_mile
count,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00
mean,397.24,14.94,2.26,0.72,57.09,75.01,2590.07,7147.49,2340.11,12077.67,1710.42,5214.48,30647.06,3594.25,17340.12,9712.69,51696.45,52446.84
std,161.11,19.98,4.27,1.10,21.27,31.06,2555.85,7508.94,2693.91,12726.52,1752.09,5092.58,16014.38,1942.88,9579.91,4874.73,23941.04,27722.80
min,88.00,1.00,0.00,0.00,22.00,23.00,2.00,5.00,2.00,9.00,72.00,209.00,5816.00,668.00,3302.00,1833.00,1225.00,2162.99
25%,293.75,2.00,0.00,0.00,39.00,55.75,767.00,2240.50,605.25,3530.00,543.00,1059.75,19209.50,2218.50,10928.00,6193.25,34758.25,32610.84
50%,355.50,6.50,1.00,0.00,56.50,70.50,1734.00,4245.50,1264.00,7354.00,1307.00,3942.50,27438.50,3141.50,14895.50,8815.50,49386.50,48364.64
75%,494.25,18.00,3.00,1.00,70.00,91.00,3695.25,9980.75,2989.75,16515.00,2507.50,7745.75,38478.75,4584.00,21966.75,12442.50,70480.00,71019.92
max,847.00,94.00,32.00,5.00,113.00,165.00,11936.00,34378.00,11569.00,57883.00,10461.00,28913.00,70207.00,9191.00,43453.00,22110.00,102078.00,126067.69

In [12]:
# Data Clean

# Create a new column: netRodent = positiveRodent - negativeRodent
df['netRodent'] = df['positiveRodent'] - df['negativeRodent']
df3 = df[['businesses', 'hpdTotal', 'netRodent', 'population', 'violation', 'misdemeanor', 'felony', 'total']].dropna()
df3['businesses'] = df3['businesses'] / df3['population']
df3['hpdTotal'] = df3['hpdTotal'] / df3['population']
df3['netRodent'] = df3['netRodent'] / df3['population']
df3['felony'] = df3['felony'] / df3['population']
df3['misdemeanor'] = df3['misdemeanor'] / df3['population']
df3['violation'] = df3['violation'] / df3['population']
df3['total'] = df3['total'] / df3['population']
df3.head()

,businesses,hpdTotal,netRodent,population,violation,misdemeanor,felony,total
0,0.005822,0.782664,0.209469,76775.0,0.097870,0.482071,0.183054,0.762996
1,0.006807,0.791145,0.263252,69048.0,0.111270,0.611575,0.249479,0.972324
2,0.005828,0.635076,0.199676,53707.0,0.105703,0.595677,0.258458,0.959838
3,0.006873,0.743615,0.237050,77840.0,0.094116,0.536922,0.257143,0.888181
4,0.006402,0.539283,0.064372,94342.0,0.091751,0.393133,0.195385,0.680270

In [13]:
# Normalize data
Y = ['total']
df3_new = pd.DataFrame(np.c_[preprocessing.scale(df3.drop(Y, 1)), df3[Y]], columns = df3.columns)
df3_new.head()

,businesses,hpdTotal,netRodent,population,violation,misdemeanor,felony,total
0,-0.382933,2.647876,1.636022,1.144432,0.229534,0.253360,-0.153248,0.762996
1,-0.274087,2.686942,2.219125,0.837707,0.451681,0.619583,0.148805,0.972324
2,-0.382301,1.968089,1.529845,0.228740,0.359386,0.574625,0.189637,0.959838
3,-0.266768,2.468020,1.935053,1.186708,0.167295,0.408473,0.183656,0.888181
4,-0.318815,1.526870,0.062894,1.841761,0.128090,0.001854,-0.097177,0.680270

In [14]:
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [18]:
model = ols("total ~ businesses + hpdTotal + netRodent", df3_new).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  total   R-squared:                       0.818
Model:                            OLS   Adj. R-squared:                  0.815
Method:                 Least Squares   F-statistic:                     242.8
Date:                Mon, 01 May 2017   Prob (F-statistic):           1.05e-59
Time:                        20:18:47   Log-Likelihood:                -15.380
No. Observations:                 166   AIC:                             38.76
Df Residuals:                     162   BIC:                             51.21
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.6933      0.021     33.239      0.000         0.652     0.734
businesses     0.4723      0.028     16.792      0.000         0.417     0.528
hpdTotal       0.1653      0.026      6.301      0.000         0.113     0.217
netRodent      0.1067      0.031      3.418      0.001         0.045     0.168
==============================================================================
Omnibus:                       15.998   Durbin-Watson:                   1.759
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               18.028
Skew:                           0.699   Prob(JB):                     0.000122
Kurtosis:                       3.809   Cond. No.                         2.62
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [11]:
# Anova table
anova_table = sm.stats.anova_lm(model, typ=1)
print(anova_table)

               df     sum_sq    mean_sq           F        PR(>F)
businesses    1.0  43.864941  43.864941  607.467656  1.087524e-56
hpdTotal      1.0   7.888909   7.888909  109.250282  7.208973e-20
netRodent     1.0   0.843604   0.843604   11.682732  7.978903e-04
Residual    162.0  11.697940   0.072210         NaN           NaN